@font-face {
  font-family: 'Eudoxus Sans';
  src: url('../../styles/EudoxusSans/EudoxusSans-Bold.woff')
}
.button {
  background: #518581;
  border: none;
  font-family: 'Eudoxus Sans', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  padding: 16px 28px;
  cursor: pointer;
  outline: inherit;

}
.button:hover:not([disabled]) {
  opacity: 0.7;
}

.button_disabled {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 16px 28px 16px 20px;
  background: #D9D9D9;
  opacity: 1 !important;
}

