@import '@styles/variables';

.card {
  display: flex;
  flex-direction: column;
  max-width: 394px;
  margin: 0 29px 29px 0;
  @media (max-width: 1200px) {
    max-width: 310px;
  }
  @media (max-width: 1024px) {
    max-width: 260px;
  }
  @media (max-width: 500px) {
    max-width: 156px;
  }
  &_img {
    max-height: 360px;
  }
  &_title {
    font-family: 'Eudoxus Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: $main-black-color;
    margin-top: 18px;
    @media (max-width: 500px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  &_subtitle {
    margin-top: 6px;
    font-family: 'Eudoxus Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #afadb5;
    max-height: 30px;
    overflow: hidden;
    @media (max-width: 500px) {
      font-size: 12px;
      line-height: 22px;
      max-height: 40px;
      overflow: hidden;
    }
  }
  &_content {
    margin-top: 18px;
    font-family: 'Eudoxus Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;

    color: $main-black-color;
    @media (max-width: 500px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
