@import '@styles/variables';

.products {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  @media (max-width: 1200px) {
    padding: 0 50px;
  }
  @media (max-width: 840px) {
    padding: 0 30px;
  }
  @media (max-width: 500px) {
    padding: 0 10px;
  }

  & h1 {
    align-items: center;
    margin-top: 100px;
    font-family: 'Eudoxus Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
    color: $main-black-color;
    @media (max-width: 500px) {
      font-size: 26px;
      margin-top: 50px;
    }
  }
  & p {
    align-items: center;
    margin-top: -10px;
    font-family: 'Eudoxus Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: #afadb5;
    @media (max-width: 500px) {
      font-size: 14px;
    }
  }
  & h2 {
    flex-direction: row;
    align-items: center;
    padding: 0;
    font-family: 'Eudoxus Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    color: $main-black-color;
    @media (max-width: 500px) {
      font-size: 18px;
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
  &_search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    @media (max-width: 840px) {
      display: grid;
      grid-auto-columns: 0fr;
    }

  }
  &_card {
    margin-top: 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 1700px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 840px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 500px) {
      margin-top: 0;
    }
  }
  &_total {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 10px 30px;
    gap: 10px;
    background: #f9f9f9;
    border-radius: 20px;

    font-family: 'Eudoxus Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;

    color: $main-green-color;
    @media (max-width: 500px) {
      font-size: 12px;
    }
  }
}
