@import '@styles/variables';

.multiDropdown {
  background: #ffffff;
  box-shadow: 0 4px 20px rgba(175, 173, 181, 0.2);
  position: relative;
  display: inline-block;

  &__res {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 120px rgba(175, 173, 181, 0.15);
    font-family: 'Eudoxus Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #afadb5;
    list-style-type: none;
    padding: 26px;
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
    @media (max-width: 1440px) {
      min-width: 178px;
    }
    @media (max-width: 840px) {
      margin: auto;
    }
    @media (max-width: 500px) {
      max-height: 54px;
    }
    &:focus:not([disabled]) {
      font-family: 'Eudoxus Sans', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 180%;
      color: $main-black-color;
    }
    &:disabled {
      font-family: 'Eudoxus Sans', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 180%;
      color: $main-black-color;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 16px;
    border: 1px solid #ffffff;
    list-style-type: none;
    background: #ffffff;
    @media (max-width: 840px) {
      padding: 16px 30px;
      font-size: 19px;
    }
  }
  &__notClicked {
    font-family: 'Eudoxus Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    all: unset;
  }
  &__clicked {
    font-family: 'Eudoxus Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    all: unset;
    color: $main-green-color;
  }
  &__box {
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 120px rgba(175, 173, 181, 0.15);
    width: 100%;
  }
}
