.multi-dropdown {
  width: 380px;
}
.multi-dropdown__res {
  display: flex;
  align-items: center;
  width: 380px;
  height: 86px;
  box-shadow: 0 4px 120px rgba(175, 173, 181, 0.15);
  font-family: 'Eudoxus Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #afadb5;
  list-style-type: none;
  margin-bottom: 15px;
  padding: 0 0 0 26px;
  background: none;

  border: none;

  cursor: pointer;
  outline: inherit;
}
.multi-dropdown__res:focus:not([disabled]) {
  font-family: 'Eudoxus Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #151411;
}
.multi-dropdown__res:disabled {
  font-family: 'Eudoxus Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #151411;
}

.multi-dropdown__item {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  padding: 0 0 0 16px;
  border: 1px solid #ffffff;
  list-style-type: none;
  background: #ffffff;
}

.multi-dropdown__notClicked{
  font-family: 'Eudoxus Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  all: unset;
}
.multi-dropdown__clicked {
  font-family: 'Eudoxus Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  all: unset;
  color: #518581;
}
.multi-dropdown__box {

  box-shadow: 0 4px 120px rgba(175, 173, 181, 0.15);
}


