@import '@styles/variables';

.checkbox {
  display: block;
  position: relative;
  width: 42px;
  height: 42px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 4px 120px #afadb5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.checkbox:hover input:not([disabled]) ~ .checkmark {
  border: 1px solid $main-green-color;
}
.checkbox input:disabled ~ .checkmark {
  border: none;
  opacity: 0.7;
}

.checkbox input:checked ~ .checkmark {
  display: block;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
  height: 100%;
  width: 100%;
}

.checkbox .checkmark:after {
  left: 1px;
  top: -3px;
  background: url('../img/Check.svg') no-repeat center;
}
